<div class="">
  <div class="card">
    <div class="card-header">          
      <h3>Bienvenido a Liberty</h3>
      <h4>Constructora De los Altos S.A.</h4>
    </div>
    <div class="card-body">
      <h5 class="card-title">Proyectos actuales</h5>
      <div>
        <table class="table">
          <thead>
            <th>Nombre</th>
            <th>Encargado</th>
            <th>Ver</th>
          </thead>
          <tbody>
            <tr>
              <td>Remodelación escuela Llanos de la Cruz</td>
              <td>Ing. Ricardo</td>
              <td><button class="btn btn-primary">Ver</button></td>
            </tr>
            <tr>
              <td>Contruccion condominio</td>
              <td>Ing. Ricardo</td>
              <td><button class="btn btn-primary">Ver</button></td>
            </tr>
          </tbody>
        </table>
        
      </div>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
</div>